* {
  box-sizing: border-box;
}

body {
  background-color: #051d3b;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1370px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(20%, 150px) 1fr minmax(50px, 20%);
  grid-gap: 20px;
} 

.header {
  display: grid;
  grid-template-columns: minmax(20%, 150px) 1fr minmax(50px, 20%);
  grid-gap: 20px;
  grid-column: 1/-1;
}

.header__logo {
  align-self: center;
}

.header__search {
  background-color: #ffffff29;
  color: #ffffff;
  border: 0;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  outline: none;
  transition: background-color .2s;
}

.header__search::placeholder {
  border-radius: 8px;
  color: #ffffff8a;
}

.header__search:focus{
  border: 2px solid #ffffff;
}

.header__search:hover {
  background: rgba(255, 255, 255, .24);
}

.search-icon {
  display: none;
}

.header__search,
.navbar__item,
.button-preview,
.project__name,
.project__description,
.project__button {
  cursor: pointer;
}

.profile {
  display: flex;
  grid-column: 3/4;
  justify-self: end;
  align-items: center;
  width: 106px;
  height: 56px;
  padding: 12px;
  transition: background-color .2s;
  border-radius: 8px;
}

.profile:hover {
  background-color: #ffffff14;
}

.profile__photo {
  width: 32px;
  height: 32px;
}

.profile__name {
  color: #ffffff;
  margin-left: 8px;
}

.navbar {
  grid-column: 1/2;
  color: #ffffff;
}

.navbar__title {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.navbar__items {
  list-style-type: none;
  padding: 0;
}

.navbar__items p {
  margin-left: 16px;
  color: #ffffff8f;
  transition: all .2s;
}

.navbar__item a {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
}

.navbar__item svg rect {
  fill:#5081fb;
  fill-opacity: .16;
  transition: all .2s;
}

.navbar__item svg path {
  fill: #ffffff;
  opacity: .48;
  transition: all .2s;
}

.navbar__item:hover svg rect {
  fill-opacity: 1;
}

.navbar__item:hover svg path {
  fill: #ffffff;
  opacity: 1;
}

.navbar__item--active svg rect {
  fill-opacity: 1;
}

.navbar__item--active svg path {
  opacity: 1;
}

.navbar__item--active p,
.navbar__item:hover p {
  color: #ffffff;
}

.editor {
  grid-column: 2/3;
  background-color: #6bd1ff;
  border-radius: 8px;
  padding: 26px;
  height: 90%;
  min-height: 366px;
  margin-bottom: 32px;
}

.editor__code {
  display: block;
  border-radius: 0 0 8px 8px;
  background-color: #141414;
  border: 0;
  color: #ffffff;
  height: calc(100% - 31px);
  outline: none;
  padding: 16px;
  resize: none;
  width: 100%;
}

.buttons {
  padding: 16px;
  background-color: #141414;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 31px;
}

.buttons__icon {
  width: 12px;
  height: 12px;
}

.buttons__icon--primary {
  fill: #ff5f56;
}

.buttons__icon--secondary {
  fill: #ffbd2e;
}

.buttons__icon--third {
  fill: #27c93f;
}

.button-preview {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 4px;
  background-color:#5081fb14;
  color: #fff;
  line-height: 24px;
  outline: none;
}

.button-preview:hover {
  background-color: #5081fb29;
}

.project {
  grid-column: 3/4;
}

.project .project__title {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.4em;
  color: #fff;
  margin: 0 0 16px;
}

.project__name,
.project__description,
.project__language,
.project__color,
.project__button {
  width: 100%;
  background-color: #ffffff29;
  border: 2px solid #ffffff29;
  border: 0;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  color: #fff;
  outline: none;
}

.project__name:hover,
.project__description:hover,
.project__language:hover {
  background: #ffffff3d;
}

.project__name:focus,
.project__description:focus,
.project__language:focus,
.project__color:focus,
.project__button:focus {
  border: 2px solid #ffffff;
}

.project__name::placeholder,
.project__description::placeholder {
  color: #ffffff8a;
}

.project__color {
  padding: 4px;
  background-color: #051d3b;
  border: 1px solid #ffffff;
  margin-bottom: 0;
}

.project__language {
  color: #fff;
}

.project__language option {
  color: #000;
}

 .project__description {
  resize: none;
  margin-bottom: 40px;
}

.project__button {
  background-color: #5081fb;
  color: #051d3b;
  line-height: 18px;
  margin-top: 40px;
  transition: .2s background-color;
}

.project__button:hover {
  background-color: #7ba4fc;
  color: #051d3b;
  line-height: 18px;
}

.hamburger {
  display: none;
  padding: 12px;
  border-radius: 8px;
  transition: .2s background-color;
}

.hamburger:hover {
  background-color: #0b254a;
}

.navbar hr,
.navbar .profile {
  display: none;
}

@media screen and (max-width: 769px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    grid-column: 1 / -1;
    grid-template-columns: 150px minmax(100px, 1fr) 50px;
    margin-bottom: 32px;
  }

  .hamburger {
    display: block;
    align-self: center;
    justify-self: center;
  }

  .navbar {
    position: fixed;
    top: 6em;
    right: -270px;
    background-color: #2d415b;
    padding: 32px;
    height: 80%;
    border-radius: 8px;
    width: 254px;
    transition: all .2s;
  }
  
  .navbar--visible {
    right: 19px;
  }
  
  .navbar hr {
    margin: 24px auto;
    background: #ffffff;
    opacity: .08;
  }

  .navbar hr {
    display: block;
  }

  .navbar .profile {
    display: flex;
  }

  main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .editor,
  .button-preview,
  .project,
  .project__title,
  .project__name,
  .project__description,
  .project__button {
    grid-column: 1 / -1;
  }

  .project form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .project__button {
    margin-top: 16px;
  }

  .header .profile {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container {
    grid-template-columns: 150px 1fr 50px;
  }

  .header {
    grid-template-columns: 150px 1fr 50px;
    margin-bottom: 32px;
  }

  .header__search {
    display: none;
  }

  .search-icon {
    display: block;
    align-self: center;
    justify-self: end;
  }

  .project form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
  }
}
