* {
  box-sizing: border-box;
}

body {
  background-color: #051d3b;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1370px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 245px 1fr 245px;
  grid-gap: 20px;
} 

.header {
  display: grid;
  grid-template-columns: 245px 1fr 245px;
  grid-gap: 20px;
  grid-column: 1/-1;
}

.header__logo {
  /* grid-column: 1/2; */
  font-weight: 400;
}

.header__search {
  /* grid-column: 2/3; */
  background-color: #ffffff29;
  color: #ffffff;
  border: 0;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  outline: none;
  transition: background-color .2s;
}

.header__search::placeholder {
  border-radius: 8px;
  color: #ffffff8a;
}

.header__search:focus{
  border: 2px solid #ffffff;
}

.header__search:hover {
  background: rgba(255, 255, 255, .24);
}

.profile {
  display: flex;
  grid-column: 3/4;
  justify-self: end;
  align-items: center;
  width: 106px;
  height: 56px;
}

.profile__photo {
  width: 32px;
  height: 32px;
}

.profile__name {
  color: #ffffff;
  margin-left: 8px;
}

.navbar {
  grid-column: 1/2;
  color: #ffffff;
}

.navbar__title {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.navbar__items {
  list-style-type: none;
  padding: 0;
}

.navbar__items p {
  margin-left: 16px;
  color: #ffffff8f;
}

.navbar__item .navbar__item--active {
  color: #ffffff;
}

.navbar__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

